.flex-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.flex-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: azure;
  padding: 10px;
  height:120px;
  margin: 0%;
}


.flex-header-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.flex-nav {
  display: flex;
  flex-direction: column;
  width:100%; 
  background-color:lightgray; 
  margin-top:20px; 
  padding:10px;
}

.flex-nav-element {
  color:blue;
  margin-left: 10px;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: azure;
  width: 100%;  
  padding: 10px;
  height: 120px;

}

.flex-footer-element {
  font-size: 30px;
  color: #00FF00;
}
.flex-items {
  display: flex;
  flex-direction: column;
}

.flex-items div {
  width: 100%;
  margin-left: 10px;
}

.flex-items div:nth-child(3) {
  order: 1;
}

.flex-items div:nth-child(2) {
  order: 2;
}

body {
  color :#00FF00;
  background-image: url(fon.png);
  font-size: 20pt;
  margin :0;
}
H1 {
font-size :40pt;
color :#32CD32;
text-align: center;
}
#img {
  float:left; 
  margin:10px; 
  width:100px;; 
  height:100px; 
}
#name {
  color: #00FF00; 
  padding: 10px;
  font-size: 40px;
  margin: 0px;
}
.cell {
  background-color: hsl(56, 90%, 73%);
  color:white;
}
.celld {
  background-color: hsl(103, 89%, 72%);
  color:white;
}

table {
  border: 1px solid rgb(15, 175, 29);
  border-collapse: collapse;
}

td, th {
  border: 1px solid ghostwhite;
  text-align: center;
}

@media all and (orientation: landscape), (min-width: 700px) {
  .flex-container {
  font-size: 30px;
  }

  .flex-header{
    height:120px;
  }

  .flex-header-items {
    width: 960px;
    justify-content: end;
  }

  .flex-nav {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    padding : 10px;
    flex-direction: row;
    justify-content: space-around;
  }

  .flex-nav-element{
    margin: 0;
  }

  .flex-footer{
    height:120px;
  }
  
  .flex-footer-element{
    font-size: 30px;
  }

  .flex-items{
    display: flex;
    flex-direction: column;
  }
  
  .flex-items div{
    max-width: 960px;
    margin-left: 10px;
  }
  
  .flex-items div:nth-child(1){
    order: 1;
  }

  .flex-items div:nth-child(2){
    order: 2;
  }

  .flex-items div:nth-child(3){
    order: 3;
  }

  #img {
    float:left; 
    margin:10px; 
    width:100px;; 
    height:100px; 
  }
  #name {
    color: #00FF00; 
    padding: 10px;
    font-size: 40px;
    margin: 0px;
  }
  Ol {
    font-size: 20pt;
    color :#00FF00;
    margin-left: 20px;
  }
}

